USE [master]
GO
/****** Object:  Database [main_group_project_perfect]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE DATABASE [main_group_project_perfect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'main_group_project_perfect', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\main_group_project_perfect.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'main_group_project_perfect_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\main_group_project_perfect_log.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [main_group_project_perfect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [main_group_project_perfect]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[section] [varchar](50) NOT NULL,
	[priority] [varchar](50) NOT NULL,
	[verified] [bit] NOT NULL,
	[solved] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tickets_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[unsolved_tickets]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[unsolved_tickets] AS
SELECT *
FROM tickets t
WHERE t.solved = 0;
GO
/****** Object:  Table [dbo].[products]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](300) NOT NULL,
	[desc] [varchar](max) NULL,
	[img] [varchar](50) NULL,
	[price] [int] NOT NULL,
	[off_price] [int] NULL,
	[seller_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_products_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[all_products]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[all_products] AS
SELECT * FROM products p;
GO
/****** Object:  Table [dbo].[purchases]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchases](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[bank_portal] [varchar](50) NOT NULL,
	[amount] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_purchases_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[not_verified_purchases]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[not_verified_purchases] AS
SELECT *
FROM purchases p
WHERE p.status = 'not_verified';
GO
/****** Object:  View [dbo].[verified_purchases]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[verified_purchases] AS
SELECT *
FROM purchases p
WHERE p.status = 'verified';
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[title] [varchar](150) NOT NULL,
	[content] [varchar](max) NOT NULL,
	[recommend_status] [varchar](50) NOT NULL,
	[order_id] [int] NOT NULL,
	[show_name] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_reviews_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[most_recommended_products]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[most_recommended_products] AS
SELECT p.id ,p.title , COUNT(r.recommend_status) 'High Recommend Count' FROM products p INNER JOIN reviews r ON p.id = r.product_id WHERE r.recommend_status = 'high' GROUP BY p.id , p.title;
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](150) NOT NULL,
	[last_name] [varchar](150) NOT NULL,
	[phone_number] [varchar](50) NOT NULL,
	[phone_number2] [varchar](50) NULL,
	[city] [varchar](120) NOT NULL,
	[state] [varchar](120) NOT NULL,
	[address] [varchar](max) NOT NULL,
	[postal_code] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_addresses_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartitems]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartitems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [int] NOT NULL,
	[price_off] [int] NULL,
	[total] [int] NOT NULL,
	[total_off] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_cartitems_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[total] [int] NOT NULL,
	[total_off] [int] NULL,
	[count] [int] NOT NULL,
	[second_cart] [bit] NOT NULL,
	[active_cart] [bit] NOT NULL,
	[coupon_code] [varchar](max) NULL,
	[coupon_amount] [int] NULL,
	[coupon_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_carts_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](150) NOT NULL,
	[slug] [varchar](150) NOT NULL,
	[parent_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_categories_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](max) NOT NULL,
	[amount] [int] NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_coupons_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customercoupons]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customercoupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[coupon_id] [int] NOT NULL,
	[expired_at] [datetime2](7) NOT NULL,
	[useable_count] [smallint] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_customercoupons_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](300) NOT NULL,
	[first_name] [varchar](150) NOT NULL,
	[last_name] [varchar](150) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[phone_number] [varchar](50) NOT NULL,
	[state] [varchar](120) NOT NULL,
	[city] [varchar](120) NOT NULL,
	[address] [varchar](max) NOT NULL,
	[postal_code] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_customers_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderitems]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderitems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[single_price] [int] NOT NULL,
	[total_price] [int] NOT NULL,
	[off_price] [int] NULL,
	[totaloff_price] [int] NULL,
	[quantity] [smallint] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderItems_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[total_price] [int] NOT NULL,
	[total_count] [smallint] NOT NULL,
	[payment] [varchar](50) NOT NULL,
	[verification] [varchar](50) NOT NULL,
	[address_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_orders_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_product_category_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviewitems]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewitems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[tip_sentence] [varchar](300) NOT NULL,
	[tip_type] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_reviewitems_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_roles_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sellers]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sellers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](300) NOT NULL,
	[owner_name] [varchar](200) NOT NULL,
	[name] [varchar](300) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[phone_number] [varchar](50) NOT NULL,
	[state] [varchar](100) NOT NULL,
	[city] [varchar](100) NOT NULL,
	[address] [varchar](max) NOT NULL,
	[postal_code] [varchar](50) NOT NULL,
	[logo_img] [varchar](max) NOT NULL,
	[desc] [varchar](max) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_sellers_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](300) NOT NULL,
	[username] [varchar](150) NOT NULL,
	[first_name] [varchar](150) NOT NULL,
	[last_name] [varchar](150) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[role_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_users_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[balance] [int] NOT NULL,
	[locked] [bit] NOT NULL,
	[bank_card_number] [varchar](100) NOT NULL,
	[card_verification] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_wallets_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[withdraws]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[withdraws](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[wallet_id] [int] NOT NULL,
	[card_number] [varchar](100) NOT NULL,
	[bank_name] [varchar](100) NOT NULL,
	[amount] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_withdraws_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[addresses] ON 

INSERT [dbo].[addresses] ([id], [title], [customer_id], [first_name], [last_name], [phone_number], [phone_number2], [city], [state], [address], [postal_code], [created_at], [updated_at]) VALUES (1, N'University', 1, N'Sajad', N'Kolahchi', N'9903118135', N'021-88445566', N'Tehran', N'Tehran', N'Poonak - Hamila', N'147852', CAST(N'2021-12-01T13:58:49.8800100' AS DateTime2), CAST(N'2021-12-01T13:58:49.8800100' AS DateTime2))
INSERT [dbo].[addresses] ([id], [title], [customer_id], [first_name], [last_name], [phone_number], [phone_number2], [city], [state], [address], [postal_code], [created_at], [updated_at]) VALUES (2, N'Home', 1, N'Sajad', N'Kolahchi', N'9903118135', N'021-88445566', N'Tehran', N'Tehran', N'Janat Abad Shomali', N'258741', CAST(N'2021-12-01T13:59:47.1717969' AS DateTime2), CAST(N'2021-12-01T13:59:47.1717969' AS DateTime2))
INSERT [dbo].[addresses] ([id], [title], [customer_id], [first_name], [last_name], [phone_number], [phone_number2], [city], [state], [address], [postal_code], [created_at], [updated_at]) VALUES (3, N'Work', 1, N'Sajad', N'Kolahchi', N'9903118135', N'021-33669988', N'Tehran', N'Tehran', N'Jordan', N'025874', CAST(N'2021-12-01T14:00:46.5770126' AS DateTime2), CAST(N'2021-12-01T14:00:46.5770126' AS DateTime2))
SET IDENTITY_INSERT [dbo].[addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[cartitems] ON 

INSERT [dbo].[cartitems] ([id], [cart_id], [product_id], [quantity], [price], [price_off], [total], [total_off], [created_at], [updated_at]) VALUES (2, 1, 9, 1, 3700000, NULL, 3700000, NULL, CAST(N'2021-12-06T12:45:22.7212069' AS DateTime2), CAST(N'2021-12-06T12:45:22.7212069' AS DateTime2))
INSERT [dbo].[cartitems] ([id], [cart_id], [product_id], [quantity], [price], [price_off], [total], [total_off], [created_at], [updated_at]) VALUES (3, 1, 10, 1, 2500000, NULL, 2500000, NULL, CAST(N'2021-12-06T12:45:44.3664348' AS DateTime2), CAST(N'2021-12-06T12:45:44.3664348' AS DateTime2))
INSERT [dbo].[cartitems] ([id], [cart_id], [product_id], [quantity], [price], [price_off], [total], [total_off], [created_at], [updated_at]) VALUES (6, 3, 23, 1, 112000000, 105000000, 112000000, 105000000, CAST(N'2021-12-06T12:50:23.2835062' AS DateTime2), CAST(N'2021-12-06T12:50:23.2835062' AS DateTime2))
SET IDENTITY_INSERT [dbo].[cartitems] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([id], [customer_id], [total], [total_off], [count], [second_cart], [active_cart], [coupon_code], [coupon_amount], [coupon_id], [created_at], [updated_at]) VALUES (1, 1, 6200000, NULL, 2, 0, 1, NULL, NULL, NULL, CAST(N'2021-12-06T12:44:34.4939984' AS DateTime2), CAST(N'2021-12-06T12:47:08.8830502' AS DateTime2))
INSERT [dbo].[carts] ([id], [customer_id], [total], [total_off], [count], [second_cart], [active_cart], [coupon_code], [coupon_amount], [coupon_id], [created_at], [updated_at]) VALUES (3, 1, 112000000, 105000000, 1, 1, 0, NULL, NULL, NULL, CAST(N'2021-12-06T12:47:51.7294297' AS DateTime2), CAST(N'2021-12-06T13:11:30.2942818' AS DateTime2))
INSERT [dbo].[carts] ([id], [customer_id], [total], [total_off], [count], [second_cart], [active_cart], [coupon_code], [coupon_amount], [coupon_id], [created_at], [updated_at]) VALUES (4, 2, 7200000, NULL, 1, 0, 1, N'KU52esZJ', 10000, 2, CAST(N'2021-12-06T12:49:17.3797077' AS DateTime2), CAST(N'2021-12-06T13:11:49.8215197' AS DateTime2))
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [title], [slug], [parent_id], [created_at], [updated_at]) VALUES (2, N'Electronics', N'electronics', NULL, CAST(N'2021-12-04T15:16:54.1663993' AS DateTime2), CAST(N'2021-12-04T15:16:54.1663993' AS DateTime2))
INSERT [dbo].[categories] ([id], [title], [slug], [parent_id], [created_at], [updated_at]) VALUES (3, N'Smart Phones', N'smart-phones', 2, CAST(N'2021-12-04T15:17:09.1189013' AS DateTime2), CAST(N'2021-12-04T15:17:09.1189013' AS DateTime2))
INSERT [dbo].[categories] ([id], [title], [slug], [parent_id], [created_at], [updated_at]) VALUES (4, N'Laptops', N'laptops', 2, CAST(N'2021-12-04T15:17:26.6640522' AS DateTime2), CAST(N'2021-12-04T15:17:26.6640522' AS DateTime2))
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[coupons] ON 

INSERT [dbo].[coupons] ([id], [code], [amount], [expired_at], [created_at], [updated_at]) VALUES (1, N'ZP73hbUG', 500000, CAST(N'2022-03-22T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-06T12:17:24.2945385' AS DateTime2), CAST(N'2021-12-06T12:17:24.2945385' AS DateTime2))
INSERT [dbo].[coupons] ([id], [code], [amount], [expired_at], [created_at], [updated_at]) VALUES (2, N'KU52esZJ', 10000, CAST(N'2022-01-28T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-06T12:17:49.6723554' AS DateTime2), CAST(N'2021-12-06T12:17:49.6723554' AS DateTime2))
INSERT [dbo].[coupons] ([id], [code], [amount], [expired_at], [created_at], [updated_at]) VALUES (3, N'GU86v7QC', 25000, CAST(N'2022-01-28T00:00:00.0000000' AS DateTime2), CAST(N'2021-12-06T12:18:18.9813791' AS DateTime2), CAST(N'2021-12-06T12:18:18.9813791' AS DateTime2))
SET IDENTITY_INSERT [dbo].[coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[customercoupons] ON 

INSERT [dbo].[customercoupons] ([id], [customer_id], [coupon_id], [expired_at], [useable_count], [created_at], [updated_at]) VALUES (3, 1, 1, CAST(N'2022-02-17T00:00:00.0000000' AS DateTime2), 1, CAST(N'2021-12-06T12:26:47.9956814' AS DateTime2), CAST(N'2021-12-06T12:26:47.9956814' AS DateTime2))
INSERT [dbo].[customercoupons] ([id], [customer_id], [coupon_id], [expired_at], [useable_count], [created_at], [updated_at]) VALUES (4, 1, 2, CAST(N'2022-01-17T00:00:00.0000000' AS DateTime2), 0, CAST(N'2021-12-06T12:27:07.7979860' AS DateTime2), CAST(N'2021-12-06T12:27:14.9759996' AS DateTime2))
INSERT [dbo].[customercoupons] ([id], [customer_id], [coupon_id], [expired_at], [useable_count], [created_at], [updated_at]) VALUES (7, 6, 7, CAST(N'2021-10-18T00:00:00.0000000' AS DateTime2), 2, CAST(N'2021-12-06T12:28:17.7127354' AS DateTime2), CAST(N'2021-12-06T12:28:17.7127354' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customercoupons] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [email], [first_name], [last_name], [password], [phone_number], [state], [city], [address], [postal_code], [created_at], [updated_at]) VALUES (1, N'sajadk48@gmail.com', N'Sajad', N'Kolahchi', N'123456', N'9903118135', N'Tehran', N'Tehran', N'Poonak', N'123456', CAST(N'2021-12-01T13:28:03.6159700' AS DateTime2), CAST(N'2021-12-01T13:28:03.6159700' AS DateTime2))
INSERT [dbo].[customers] ([id], [email], [first_name], [last_name], [password], [phone_number], [state], [city], [address], [postal_code], [created_at], [updated_at]) VALUES (2, N'sajad_zahedi@gmail.com', N'Sajad', N'Zahedi', N'369258', N'9121234567', N'Tehran', N'Tehran', N'Address 1', N'258741', CAST(N'2021-12-01T13:29:41.2285162' AS DateTime2), CAST(N'2021-12-01T13:29:41.2285162' AS DateTime2))
INSERT [dbo].[customers] ([id], [email], [first_name], [last_name], [password], [phone_number], [state], [city], [address], [postal_code], [created_at], [updated_at]) VALUES (6, N'mohadese_rstgr@gmail.com', N'Mohadese', N'Rastgaar', N'147852', N'9123698524', N'Tehran', N'Tehran', N'Address 2', N'852147', CAST(N'2021-12-01T13:31:03.1781225' AS DateTime2), CAST(N'2021-12-01T13:31:03.1781225' AS DateTime2))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[orderitems] ON 

INSERT [dbo].[orderitems] ([id], [order_id], [single_price], [total_price], [off_price], [totaloff_price], [quantity], [product_id], [created_at], [updated_at]) VALUES (2, 3, 950000, 950000, NULL, NULL, 1, 18, CAST(N'2021-12-04T21:55:36.6197417' AS DateTime2), CAST(N'2021-12-04T21:58:50.1333202' AS DateTime2))
INSERT [dbo].[orderitems] ([id], [order_id], [single_price], [total_price], [off_price], [totaloff_price], [quantity], [product_id], [created_at], [updated_at]) VALUES (4, 3, 80000, 80000, NULL, NULL, 1, 25, CAST(N'2021-12-04T21:56:04.0286496' AS DateTime2), CAST(N'2021-12-04T21:58:53.3595409' AS DateTime2))
INSERT [dbo].[orderitems] ([id], [order_id], [single_price], [total_price], [off_price], [totaloff_price], [quantity], [product_id], [created_at], [updated_at]) VALUES (5, 3, 3700000, 3700000, NULL, NULL, 1, 9, CAST(N'2021-12-04T21:59:35.1353172' AS DateTime2), CAST(N'2021-12-04T21:59:54.6781381' AS DateTime2))
SET IDENTITY_INSERT [dbo].[orderitems] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [total_price], [total_count], [payment], [verification], [address_id], [created_at], [updated_at]) VALUES (3, 1, 4730000, 3, N'not_verified', N'not_verified', 2, CAST(N'2021-12-04T21:53:39.6781951' AS DateTime2), CAST(N'2021-12-04T22:00:47.2104344' AS DateTime2))
INSERT [dbo].[orders] ([id], [customer_id], [total_price], [total_count], [payment], [verification], [address_id], [created_at], [updated_at]) VALUES (4, 1, 2530000, 2, N'verified', N'verified', 2, CAST(N'2021-12-04T22:01:36.6925126' AS DateTime2), CAST(N'2021-12-04T22:08:11.0450395' AS DateTime2))
INSERT [dbo].[orders] ([id], [customer_id], [total_price], [total_count], [payment], [verification], [address_id], [created_at], [updated_at]) VALUES (5, 2, 45600000, 1, N'pending', N'verified', 4, CAST(N'2021-12-04T22:07:20.0368774' AS DateTime2), CAST(N'2021-12-04T22:09:23.4043882' AS DateTime2))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[product_category] ON 

INSERT [dbo].[product_category] ([id], [product_id], [category_id], [created_at], [updated_at]) VALUES (1, 9, 7, CAST(N'2021-12-04T16:17:38.4191010' AS DateTime2), CAST(N'2021-12-04T16:17:38.4191010' AS DateTime2))
INSERT [dbo].[product_category] ([id], [product_id], [category_id], [created_at], [updated_at]) VALUES (2, 9, 9, CAST(N'2021-12-04T16:17:42.2375258' AS DateTime2), CAST(N'2021-12-04T16:17:42.2375258' AS DateTime2))
INSERT [dbo].[product_category] ([id], [product_id], [category_id], [created_at], [updated_at]) VALUES (3, 10, 7, CAST(N'2021-12-04T16:17:55.6146730' AS DateTime2), CAST(N'2021-12-04T16:17:55.6146730' AS DateTime2))
SET IDENTITY_INSERT [dbo].[product_category] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [title], [desc], [img], [price], [off_price], [seller_id], [created_at], [updated_at]) VALUES (9, N'Adidas Shoes 1', N'Adidas Shoes 1 - Description', N'/cdn/images/products/p1.jpg', 3700000, NULL, 7, CAST(N'2021-12-04T15:01:44.4663734' AS DateTime2), CAST(N'2021-12-04T15:01:44.4663734' AS DateTime2))
INSERT [dbo].[products] ([id], [title], [desc], [img], [price], [off_price], [seller_id], [created_at], [updated_at]) VALUES (10, N'Adidas Shoes 2', N'Adidas Shoes 2 - Description', N'/cdn/images/products/2.jpg', 2500000, NULL, 7, CAST(N'2021-12-04T15:02:19.0194158' AS DateTime2), CAST(N'2021-12-04T15:02:19.0194158' AS DateTime2))
INSERT [dbo].[products] ([id], [title], [desc], [img], [price], [off_price], [seller_id], [created_at], [updated_at]) VALUES (11, N'Adidas Shoes 3', N'Adidas Shoes 3 - Description', N'/cdn/images/products/p3.jpg', 2900000, NULL, 7, CAST(N'2021-12-04T15:02:58.0337636' AS DateTime2), CAST(N'2021-12-04T15:02:58.0337636' AS DateTime2))
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[purchases] ON 

INSERT [dbo].[purchases] ([id], [order_id], [customer_id], [status], [bank_portal], [amount], [created_at], [updated_at]) VALUES (1, 3, 1, N'verified', N'Zarinpaal', 4730000, CAST(N'2021-12-05T23:27:17.0717142' AS DateTime2), CAST(N'2021-12-05T23:27:17.0717142' AS DateTime2))
INSERT [dbo].[purchases] ([id], [order_id], [customer_id], [status], [bank_portal], [amount], [created_at], [updated_at]) VALUES (2, 4, 1, N'verified', N'Mellat', 2530000, CAST(N'2021-12-05T23:27:39.4925611' AS DateTime2), CAST(N'2021-12-05T23:27:39.4925611' AS DateTime2))
INSERT [dbo].[purchases] ([id], [order_id], [customer_id], [status], [bank_portal], [amount], [created_at], [updated_at]) VALUES (3, 5, 2, N'pending', N'DigiPay', 45600000, CAST(N'2021-12-05T23:28:31.0333060' AS DateTime2), CAST(N'2021-12-05T23:28:31.0333060' AS DateTime2))
SET IDENTITY_INSERT [dbo].[purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[reviewitems] ON 

INSERT [dbo].[reviewitems] ([id], [review_id], [tip_sentence], [tip_type], [created_at], [updated_at]) VALUES (1, 1, N'Good printing quality', N'pos', CAST(N'2021-12-05T07:24:08.2865450' AS DateTime2), CAST(N'2021-12-05T07:24:08.2865450' AS DateTime2))
INSERT [dbo].[reviewitems] ([id], [review_id], [tip_sentence], [tip_type], [created_at], [updated_at]) VALUES (2, 1, N'Free E-book version', N'pos', CAST(N'2021-12-05T07:24:46.0592623' AS DateTime2), CAST(N'2021-12-05T07:24:46.0592623' AS DateTime2))
INSERT [dbo].[reviewitems] ([id], [review_id], [tip_sentence], [tip_type], [created_at], [updated_at]) VALUES (3, 1, N'Some Subject missed', N'neg', CAST(N'2021-12-05T07:25:07.0331562' AS DateTime2), CAST(N'2021-12-05T07:25:07.0331562' AS DateTime2))
SET IDENTITY_INSERT [dbo].[reviewitems] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [product_id], [customer_id], [title], [content], [recommend_status], [order_id], [show_name], [created_at], [updated_at]) VALUES (1, 24, 1, N'Good Book on Paaygah Dade Ha', N'This is a content for Paygah dadeha book', N'high', 4, 1, CAST(N'2021-12-05T07:23:03.4886532' AS DateTime2), CAST(N'2021-12-05T07:23:03.4886532' AS DateTime2))
INSERT [dbo].[reviews] ([id], [product_id], [customer_id], [title], [content], [recommend_status], [order_id], [show_name], [created_at], [updated_at]) VALUES (3, 44, 2, N'Excellent graphic card !', N'This is a beast graphic card , im using it for deep learning and neural networks and it just works great !', N'high', 6, 1, CAST(N'2021-12-05T07:27:54.7359855' AS DateTime2), CAST(N'2021-12-05T07:27:54.7359855' AS DateTime2))
INSERT [dbo].[reviews] ([id], [product_id], [customer_id], [title], [content], [recommend_status], [order_id], [show_name], [created_at], [updated_at]) VALUES (5, 31, 6, N'Excellent Movie - Bad Packaging', N'The movie is excellent and i really love it , but disc packaging was terrible !', N'mid', 7, 1, CAST(N'2021-12-05T07:33:40.4519087' AS DateTime2), CAST(N'2021-12-05T07:33:40.4519087' AS DateTime2))
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [title], [is_admin], [created_at], [updated_at]) VALUES (1, N'admin', 1, CAST(N'2021-12-03T20:44:47.9125255' AS DateTime2), CAST(N'2021-12-03T20:44:47.9125255' AS DateTime2))
INSERT [dbo].[roles] ([id], [title], [is_admin], [created_at], [updated_at]) VALUES (2, N'developer', 1, CAST(N'2021-12-03T20:45:00.0118128' AS DateTime2), CAST(N'2021-12-03T20:45:00.0118128' AS DateTime2))
INSERT [dbo].[roles] ([id], [title], [is_admin], [created_at], [updated_at]) VALUES (3, N'support', 1, CAST(N'2021-12-03T20:45:11.3077381' AS DateTime2), CAST(N'2021-12-03T20:45:11.3077381' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sellers] ON 

INSERT [dbo].[sellers] ([id], [email], [owner_name], [name], [password], [phone_number], [state], [city], [address], [postal_code], [logo_img], [desc], [created_at], [updated_at]) VALUES (1, N'digikala@gmail.com', N'Ali Mohammadi', N'Digikala', N'digikalapss', N'02188557788', N'Tehran', N'Tehran', N'Jordan', N'123456', N'/sajad/image/sellers/logo/digikala.jpg', N'Digikala Description', CAST(N'2021-12-03T21:22:16.0287218' AS DateTime2), CAST(N'2021-12-03T21:22:16.0287218' AS DateTime2))
INSERT [dbo].[sellers] ([id], [email], [owner_name], [name], [password], [phone_number], [state], [city], [address], [postal_code], [logo_img], [desc], [created_at], [updated_at]) VALUES (2, N'amazon@gmail.com', N'Jeff Bezos', N'Amazon', N'passamazon', N'12345678988', N'Washington', N'Seattle', N'downtown', N'258741', N'/sajad/images/sellers/logo/amaz.jpg', N'Amazon Description', CAST(N'2021-12-03T21:24:00.7964512' AS DateTime2), CAST(N'2021-12-03T21:24:00.7964512' AS DateTime2))
INSERT [dbo].[sellers] ([id], [email], [owner_name], [name], [password], [phone_number], [state], [city], [address], [postal_code], [logo_img], [desc], [created_at], [updated_at]) VALUES (3, N'almas_paytakht@gmail.com', N'Reza Hajipoor', N'Almas Paytakht', N'almasppass', N'02187878787', N'Tehran', N'Tehran', N'Mojtame Paytakht', N'123456', N'/sajad/image/sellers/logo/almasp.jpg', N'Almas Paytakht Description', CAST(N'2021-12-03T21:26:09.9929552' AS DateTime2), CAST(N'2021-12-03T21:26:09.9929552' AS DateTime2))
SET IDENTITY_INSERT [dbo].[sellers] OFF
GO
SET IDENTITY_INSERT [dbo].[tickets] ON 

INSERT [dbo].[tickets] ([id], [customer_id], [title], [content], [section], [priority], [verified], [solved], [created_at], [updated_at]) VALUES (1, 1, N'Change Username', N'Hey Digikala , i wanna change my username but i got an error code 1102 , can you guys please help me with this please ? thank you so much !', N'support', N'high', 1, 0, CAST(N'2021-12-05T23:35:20.2381369' AS DateTime2), CAST(N'2021-12-05T23:35:20.2381369' AS DateTime2))
INSERT [dbo].[tickets] ([id], [customer_id], [title], [content], [section], [priority], [verified], [solved], [created_at], [updated_at]) VALUES (3, 12, N'Selling My New Album', N'Hey Guys, i want to be a seller , how can i do this ?', N'support', N'mid', 0, 0, CAST(N'2021-12-05T23:36:48.1797009' AS DateTime2), CAST(N'2021-12-05T23:36:48.1797009' AS DateTime2))
INSERT [dbo].[tickets] ([id], [customer_id], [title], [content], [section], [priority], [verified], [solved], [created_at], [updated_at]) VALUES (5, 6, N'Wrong Products', N'Hi Guys , in my last order , you send my order to the wrong address (Work address instead of Home address ) , please be careful about this type of important things !', N'products', N'low', 1, 1, CAST(N'2021-12-05T23:38:57.7766348' AS DateTime2), CAST(N'2021-12-05T23:38:57.7766348' AS DateTime2))
SET IDENTITY_INSERT [dbo].[tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [username], [first_name], [last_name], [password], [role_id], [created_at], [updated_at]) VALUES (1, N'sjk_admin@gmail.com', N'sjk_admin', N'Sajad', N'Kolahchi', N'123654000', 1, CAST(N'2021-12-03T20:47:41.9035767' AS DateTime2), CAST(N'2021-12-03T20:47:41.9035767' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [username], [first_name], [last_name], [password], [role_id], [created_at], [updated_at]) VALUES (3, N'sjz_admin@gmail.com', N'zahedi_sj', N'Sajad', N'Zahedi', N'ldkfjeifhr', 1, CAST(N'2021-12-03T20:48:48.1190953' AS DateTime2), CAST(N'2021-12-03T20:48:48.1190953' AS DateTime2))
INSERT [dbo].[users] ([id], [email], [username], [first_name], [last_name], [password], [role_id], [created_at], [updated_at]) VALUES (5, N'mohadese_rstgr@gmail.com', N'mohadese_rastgaar', N'Mohadese', N'Rastgaar', N'mhdsdvlp', 2, CAST(N'2021-12-03T20:51:10.9490636' AS DateTime2), CAST(N'2021-12-03T20:51:10.9490636' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wallets] ON 

INSERT [dbo].[wallets] ([id], [seller_id], [balance], [locked], [bank_card_number], [card_verification], [created_at], [updated_at]) VALUES (1, 1, 95000000, 0, N'1234-5678-9123-4567', N'verified', CAST(N'2021-12-05T22:41:53.8922315' AS DateTime2), CAST(N'2021-12-05T22:44:13.7738522' AS DateTime2))
INSERT [dbo].[wallets] ([id], [seller_id], [balance], [locked], [bank_card_number], [card_verification], [created_at], [updated_at]) VALUES (2, 2, 3400000, 0, N'0987-6543-2112-3456', N'verified', CAST(N'2021-12-05T22:42:39.6710633' AS DateTime2), CAST(N'2021-12-05T22:42:43.0544249' AS DateTime2))
INSERT [dbo].[wallets] ([id], [seller_id], [balance], [locked], [bank_card_number], [card_verification], [created_at], [updated_at]) VALUES (5, 3, 150000, 1, N'0000-0000-0000-0000', N'not_verified', CAST(N'2021-12-05T22:43:29.6591329' AS DateTime2), CAST(N'2021-12-05T22:43:29.6591329' AS DateTime2))
SET IDENTITY_INSERT [dbo].[wallets] OFF
GO
SET IDENTITY_INSERT [dbo].[withdraws] ON 

INSERT [dbo].[withdraws] ([id], [wallet_id], [card_number], [bank_name], [amount], [status], [created_at], [updated_at]) VALUES (1, 1, N'1234-5678-9123-4567', N'Mellat', 3000000, N'verified', CAST(N'2021-12-05T22:45:55.4235616' AS DateTime2), CAST(N'2021-12-05T22:45:55.4235616' AS DateTime2))
INSERT [dbo].[withdraws] ([id], [wallet_id], [card_number], [bank_name], [amount], [status], [created_at], [updated_at]) VALUES (5, 1, N'1234-5678-9123-4567', N'Melli', 112000000, N'not_verified', CAST(N'2021-12-05T22:46:26.2281789' AS DateTime2), CAST(N'2021-12-05T22:46:26.2281789' AS DateTime2))
INSERT [dbo].[withdraws] ([id], [wallet_id], [card_number], [bank_name], [amount], [status], [created_at], [updated_at]) VALUES (6, 2, N'0987-6543-2112-3456', N'Sepah', 2500000, N'pending', CAST(N'2021-12-05T22:47:00.4318081' AS DateTime2), CAST(N'2021-12-05T22:47:00.4318081' AS DateTime2))
SET IDENTITY_INSERT [dbo].[withdraws] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_categories_slug]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_categories_slug] ON [dbo].[categories]
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_customers_email]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_customers_email] ON [dbo].[customers]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_customers_phone_number]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_customers_phone_number] ON [dbo].[customers]
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_sellers_email]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_sellers_email] ON [dbo].[sellers]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_sellers_phone_number]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_sellers_phone_number] ON [dbo].[sellers]
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_users_email]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_users_username]    Script Date: 12/6/2021 5:09:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_users_username] ON [dbo].[users]
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[addresses] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cartitems] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[cartitems] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ((0)) FOR [second_cart]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT ((1)) FOR [active_cart]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customercoupons] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customercoupons] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[orderitems] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[orderitems] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orderitems] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_price]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_count]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('not_verified') FOR [payment]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('not_verified') FOR [verification]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[product_category] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_category] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF_PRODUCTS_Created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[purchases] ADD  DEFAULT ('not_verified') FOR [status]
GO
ALTER TABLE [dbo].[purchases] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[purchases] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[reviewitems] ADD  DEFAULT ('pos') FOR [tip_type]
GO
ALTER TABLE [dbo].[reviewitems] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviewitems] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ('mid') FOR [recommend_status]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ((0)) FOR [show_name]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sellers] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sellers] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('mid') FOR [priority]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ((0)) FOR [verified]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ((0)) FOR [solved]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((1)) FOR [locked]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ('not_verified') FOR [card_verification]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[withdraws] ADD  DEFAULT ('not_verified') FOR [status]
GO
ALTER TABLE [dbo].[withdraws] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[withdraws] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK_addresses_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK_addresses_customer_id]
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_cart_id] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
GO
ALTER TABLE [dbo].[cartitems] CHECK CONSTRAINT [FK_cartitems_cart_id]
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[cartitems] CHECK CONSTRAINT [FK_cartitems_product_id]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_coupon_id] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_coupon_id]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_customer_id]
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK_categories_parent_id] FOREIGN KEY([parent_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK_categories_parent_id]
GO
ALTER TABLE [dbo].[customercoupons]  WITH CHECK ADD  CONSTRAINT [FK_customercoupons_coupon_id] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[customercoupons] CHECK CONSTRAINT [FK_customercoupons_coupon_id]
GO
ALTER TABLE [dbo].[customercoupons]  WITH CHECK ADD  CONSTRAINT [FK_customercoupons_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[customercoupons] CHECK CONSTRAINT [FK_customercoupons_customer_id]
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orderitems] CHECK CONSTRAINT [FK_orderitems_order_id]
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orderitems] CHECK CONSTRAINT [FK_orderitems_product_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_address_id] FOREIGN KEY([address_id])
REFERENCES [dbo].[addresses] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_address_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_customer_id]
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD  CONSTRAINT [FK_product_category_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[product_category] CHECK CONSTRAINT [FK_product_category_category_id]
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD  CONSTRAINT [FK_product_category_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_category] CHECK CONSTRAINT [FK_product_category_product_id]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_seller_id] FOREIGN KEY([seller_id])
REFERENCES [dbo].[sellers] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_seller_id]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK_purchases_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK_purchases_customer_id]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK_purchases_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK_purchases_order_id]
GO
ALTER TABLE [dbo].[reviewitems]  WITH CHECK ADD  CONSTRAINT [FK_reviewitems_review_id] FOREIGN KEY([review_id])
REFERENCES [dbo].[reviews] ([id])
GO
ALTER TABLE [dbo].[reviewitems] CHECK CONSTRAINT [FK_reviewitems_review_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_customer_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_order_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_product_id]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_customer_id] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_customer_id]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_role_id]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FK_wallets_seller_id] FOREIGN KEY([seller_id])
REFERENCES [dbo].[sellers] ([id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FK_wallets_seller_id]
GO
ALTER TABLE [dbo].[withdraws]  WITH CHECK ADD  CONSTRAINT [FK_withdraws_wallet_id] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([id])
GO
ALTER TABLE [dbo].[withdraws] CHECK CONSTRAINT [FK_withdraws_wallet_id]
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD CHECK  (([price_off]>=(0)))
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[cartitems]  WITH CHECK ADD CHECK  (([total_off]>=(0)))
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD CHECK  (([count]>=(0)))
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD CHECK  (([coupon_amount]>=(0)))
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD CHECK  (([total_off]>=(0)))
GO
ALTER TABLE [dbo].[coupons]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[customercoupons]  WITH CHECK ADD CHECK  (([useable_count]>=(0)))
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD CHECK  (([off_price]>=(0)))
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD CHECK  (([single_price]>=(0)))
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[orderitems]  WITH CHECK ADD CHECK  (([totaloff_price]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([payment]='not_verified' OR [payment]='pending' OR [payment]='verified'))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_count]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD CHECK  (([verification]='not_verified' OR [verification]='pending' OR [verification]='verified'))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([off_price]>=(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD CHECK  (([status]='not_verified' OR [status]='pending' OR [status]='verified'))
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD CHECK  (([priority]='mid' OR [priority]='high' OR [priority]='low'))
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD CHECK  (([card_verification]='verified' OR [card_verification]='pending' OR [card_verification]='not_verified'))
GO
ALTER TABLE [dbo].[withdraws]  WITH CHECK ADD CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[withdraws]  WITH CHECK ADD CHECK  (([status]='not_verified' OR [status]='pending' OR [status]='verified'))
GO
/****** Object:  StoredProcedure [dbo].[ExpiredCoupons]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ExpiredCoupons]
AS
SELECT * FROM coupons c WHERE c.expired_at < SYSDATETIME();
GO
/****** Object:  StoredProcedure [dbo].[SelectAllOrders]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllOrders] @status VARCHAR(50)
AS
SELECT * FROM orders o WHERE o.verification = @status;
GO
/****** Object:  StoredProcedure [dbo].[SelectAllProducts]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllProducts]
AS
SELECT * FROM products p;
GO
/****** Object:  StoredProcedure [dbo].[SellersTotalSale]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SellersTotalSale]
AS
SELECT s.name 'Seller' ,SUM(o.total_price) 'Total Sales' FROM sellers s INNER JOIN products p ON s.id = p.seller_id INNER JOIN orderitems o ON p.id = o.product_id GROUP BY s.name;
GO
/****** Object:  Trigger [dbo].[addressesUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[addressesUpdateUpdatedAt]
ON [dbo].[addresses]
AFTER UPDATE 
AS
   UPDATE dbo.addresses
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.addresses.id = i.id
GO
ALTER TABLE [dbo].[addresses] ENABLE TRIGGER [addressesUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[cartitemsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[cartitemsUpdateUpdatedAt]
ON [dbo].[cartitems]
AFTER UPDATE 
AS
   UPDATE dbo.cartitems
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.cartitems.id = i.id
GO
ALTER TABLE [dbo].[cartitems] ENABLE TRIGGER [cartitemsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[cartsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[cartsUpdateUpdatedAt]
ON [dbo].[carts]
AFTER UPDATE 
AS
   UPDATE dbo.carts
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.carts.id = i.id;
GO
ALTER TABLE [dbo].[carts] ENABLE TRIGGER [cartsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[categoriesUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[categoriesUpdateUpdatedAt]
ON [dbo].[categories]
AFTER UPDATE 
AS
   UPDATE dbo.categories
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.categories.id = i.id;
GO
ALTER TABLE [dbo].[categories] ENABLE TRIGGER [categoriesUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[couponsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[couponsUpdateUpdatedAt]
ON [dbo].[coupons]
AFTER UPDATE 
AS
   UPDATE dbo.coupons
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.coupons.id = i.id;
GO
ALTER TABLE [dbo].[coupons] ENABLE TRIGGER [couponsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[customercouponsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[customercouponsUpdateUpdatedAt]
ON [dbo].[customercoupons]
AFTER UPDATE 
AS
   UPDATE dbo.customercoupons
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.customercoupons.id = i.id;
GO
ALTER TABLE [dbo].[customercoupons] ENABLE TRIGGER [customercouponsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[customersUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[customersUpdateUpdatedAt]
ON [dbo].[customers]
AFTER UPDATE 
AS
   UPDATE dbo.customers
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.customers.id = i.id;
GO
ALTER TABLE [dbo].[customers] ENABLE TRIGGER [customersUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[orderitemsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[orderitemsUpdateUpdatedAt]
ON [dbo].[orderitems]
AFTER UPDATE 
AS
   UPDATE dbo.orderitems
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.orderitems.id = i.id;
GO
ALTER TABLE [dbo].[orderitems] ENABLE TRIGGER [orderitemsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[ordersUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ordersUpdateUpdatedAt]
ON [dbo].[orders]
AFTER UPDATE 
AS
   UPDATE dbo.orders
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.orders.id = i.id;
GO
ALTER TABLE [dbo].[orders] ENABLE TRIGGER [ordersUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[product_categoryUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[product_categoryUpdateUpdatedAt]
ON [dbo].[product_category]
AFTER UPDATE 
AS
   UPDATE dbo.product_category
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.product_category.id = i.id;
GO
ALTER TABLE [dbo].[product_category] ENABLE TRIGGER [product_categoryUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[productsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[productsUpdateUpdatedAt]
ON [dbo].[products]
AFTER UPDATE 
AS
   UPDATE dbo.products
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.products.id = i.id;
GO
ALTER TABLE [dbo].[products] ENABLE TRIGGER [productsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[purchasesUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[purchasesUpdateUpdatedAt]
ON [dbo].[purchases]
AFTER UPDATE 
AS
   UPDATE dbo.purchases
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.purchases.id = i.id;
GO
ALTER TABLE [dbo].[purchases] ENABLE TRIGGER [purchasesUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[reviewitemsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[reviewitemsUpdateUpdatedAt]
ON [dbo].[reviewitems]
AFTER UPDATE 
AS
   UPDATE dbo.reviewitems
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.reviewitems.id = i.id;
GO
ALTER TABLE [dbo].[reviewitems] ENABLE TRIGGER [reviewitemsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[reviewsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[reviewsUpdateUpdatedAt]
ON [dbo].[reviews]
AFTER UPDATE 
AS
   UPDATE dbo.reviews
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.reviews.id = i.id;
GO
ALTER TABLE [dbo].[reviews] ENABLE TRIGGER [reviewsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[rolesUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[rolesUpdateUpdatedAt]
ON [dbo].[roles]
AFTER UPDATE 
AS
   UPDATE dbo.roles
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.roles.id = i.id;
GO
ALTER TABLE [dbo].[roles] ENABLE TRIGGER [rolesUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[sellersUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[sellersUpdateUpdatedAt]
ON [dbo].[sellers]
AFTER UPDATE 
AS
   UPDATE dbo.sellers
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.sellers.id = i.id;
GO
ALTER TABLE [dbo].[sellers] ENABLE TRIGGER [sellersUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[ticketsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ticketsUpdateUpdatedAt]
ON [dbo].[tickets]
AFTER UPDATE 
AS
   UPDATE dbo.tickets
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.tickets.id = i.id;
GO
ALTER TABLE [dbo].[tickets] ENABLE TRIGGER [ticketsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[usersUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[usersUpdateUpdatedAt]
ON [dbo].[users]
AFTER UPDATE 
AS
   UPDATE dbo.users
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.users.id = i.id;
GO
ALTER TABLE [dbo].[users] ENABLE TRIGGER [usersUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[walletsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[walletsUpdateUpdatedAt]
ON [dbo].[wallets]
AFTER UPDATE 
AS
   UPDATE dbo.wallets
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.wallets.id = i.id;
GO
ALTER TABLE [dbo].[wallets] ENABLE TRIGGER [walletsUpdateUpdatedAt]
GO
/****** Object:  Trigger [dbo].[withdrawsUpdateUpdatedAt]    Script Date: 12/6/2021 5:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[withdrawsUpdateUpdatedAt]
ON [dbo].[withdraws]
AFTER UPDATE 
AS
   UPDATE dbo.withdraws
   SET updated_at = SYSDATETIME()
   FROM Inserted i
   WHERE dbo.withdraws.id = i.id;
GO
ALTER TABLE [dbo].[withdraws] ENABLE TRIGGER [withdrawsUpdateUpdatedAt]
GO
USE [master]
GO
